@import 'base.css';

.login-box {
  padding: 20px 50px 30px;

  border-radius: 12px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
.login-box legend {
  font-size: 2rem;
  font-weight: 600;
}
.login-box .login-box-row {
  margin: 20px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-box .login-box-row label {
  margin-right: 10px;
}
