#pop-menu {
  position: absolute;
  top: 10px;
  right: 280px;

  height: 38px;

  border: 1px solid rgb(13, 144, 254);
  background-color: rgb(247, 246, 244);
}
#pop-menu-decoration {
  position: absolute;
  left: 357.35px;
  top: -20px;

  width: 0;
  height: 0;

  border: 10px solid;
  border-color: transparent transparent rgb(13, 144, 254);
}
.pop-menu-item {
  display: inline-block;

  height: 100%;
  margin: 0 10px;

  line-height: 38px;
}
.pop-menu-item a {
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1.5;
}
.pop-menu-item:has(:hover) a {
  color: rgb(238, 112, 35);
}

#pop-menu-item-info {
  position: absolute;
  top: 104px;
  left: 195px;
  display: none;
  z-index: 100;

  width: 280px;
}
#pop-menu-item-info-detail {
  position: absolute;
  left: 280px;
  top: 0;
  background-color: white;
  width: 696px;
  height: 224px;
}
#pop-menu-item-info-detail-title {
  font-size: 16px;
  text-align: center;
  color: rgb(159, 68, 13);
  line-height: 1.5;
  margin: 10px 0;
}
#pop-menu-item-info-detail-content p {
  font-size: 13px;
  text-indent: 2em;
  color: rgb(51, 51, 51);
  line-height: 1.5;
  margin: 0 30px;
}

.info {
  font-size: 0;
  width: 1044px;
  margin: 0 auto;
  padding-top: 40px;
}
.info .item {
  position: relative;
  display: inline-block;
  width: 280px;
  margin: 0 34px;
}
.info .item.select .item-title {
  visibility: visible;
}
.info .item-title {
  visibility: hidden;
  width: fit-content;
  position: relative;
  margin: 20px auto;
}
.info .item-title-txt {
  font-size: 16px;
  font-weight: bold;
  color: rgb(237, 109, 0);
  line-height: 1.5;
  text-align: center;
}
.info .item-title-decoration-l {
  position: absolute;
  bottom: -5px;
  background-color: rgb(213, 105, 100);
  width: 42%;
  height: 1px;
}
.info .item-title-decoration-r {
  position: absolute;
  left: 58%;
  bottom: -5px;
  background-color: rgb(213, 105, 100);
  width: 42%;
  height: 1px;
}
.info .item-title-decoration-dot {
  border-radius: 50%;
  background-color: rgb(213, 105, 100);
  position: absolute;
  bottom: -6px;
  left: calc(50% - 2px);
  width: 4px;
  height: 4px;
}
.info .item-content {
  visibility: hidden;
  position: absolute;
  top: 72px;
}
.info .item-content p {
  font-size: 13px;
  color: rgb(51, 51, 51);
  line-height: 1.5;
  text-indent: 2em;
}
.info .item-detail {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: white;
  width: 348px;
  height: 224px;
}
.info .item-detail-r {
  left: 280px;
  top: 64px;
}
.info .item-detail-l {
  right: 280px;
  top: 64px;
}
.info .item:has(:hover) .item-detail {
  display: block;
}
.info .item-detail-title {
  font-size: 16px;
  text-align: center;
  color: rgb(159, 68, 13);
  line-height: 1.5;
  margin: 10px 0;
}
.info .item-detail-content p {
  font-size: 13px;
  text-indent: 2em;
  color: rgb(51, 51, 51);
  line-height: 1.5;
  margin: 0 30px;
}
