#content {
  background-color: rgb(247, 246, 244);
  padding: 35px 0 80px;
  position: relative;
}

#content > * {
  width: 985px;
  margin: 0 auto;
}

#title {
  font-size: 16px;
  color: rgb(13, 144, 254);
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
}

#info-items {
  position: relative;
  margin-top: 10px;
}

.item-decoration {
  display: block;
  margin: 0 auto;
}

.item-line {
  background-color: rgb(13, 144, 254);
  width: 2px;
  margin: 10px auto;
}

.item-line-l {
  height: 150px;
}

.item-line-m {
  height: 100px;
}

.item-line-s {
  height: 40px;
}

.info-item {
  position: absolute;
}

.info-item:nth-child(2n-1) {
  right: calc(50% + 48.5px);
}

.info-item:nth-child(2n) {
  left: calc(50% + 48.5px);
}

.info-item:nth-child(2n-1) p {
  text-align: end;
}

.info-item:nth-child(2n) p {
  text-align: start;
}

.info-item .info-item-title {
  font-weight: bold;
}

.info-item p {
  font-size: 14px;
  color: rgb(51, 51, 51);
  white-space: nowrap;
  line-height: 1.8;
}

.info-item img {
  display: block;
  margin: 0 auto;
}

.info-item .img-counter {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 78px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}

#img-viewer {
  display: none;
  position: absolute;
  top: 25px;
  left: calc(50% - 508px);
  width: 1016px;
  height: 642px;
  background-color: rgba(0, 0, 0, 0.7);
}

#img-viewer #img-viewer-content {
  position: absolute;
  left: calc(50% - 300px);
  top: calc(50% - 211.5px);
  width: 600px;
  height: 423px;
}

#img-viewer #previous-img {
  position: absolute;
  left: 25px;
  top: 270.5px;
}

#img-viewer #next-img {
  position: absolute;
  right: 25px;
  top: 270.5px;
}

#img-viewer #close-img {
  position: absolute;
  top: -25px;
  right: -25px;
}
