#content {
  padding: 35px 0;

  background-color: rgb(247, 246, 244);
}
#content > div {
  width: 1044px;
  margin: 0 auto;

  /* 如果不把字体大小设为 0，元素总是会自动换行 */
  font-size: 0;
}
#content #content-title {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 977px;
  height: 18px;
  margin: 0 33.5px 50px;
}
#content .m-title-decoration-line {
  width: 428px;
  height: 2px;

  background-color: rgb(112, 45, 19);
}
#content .m-title-decoration-dot {
  width: 6px;
  height: 6px;
  margin: 0 5px;

  border-radius: 50%;
  background-color: rgb(112, 45, 19);
}
#content #content-title-txt {
  margin: 0 8.5px;

  color: rgb(112, 45, 19);
  line-height: 1.5;
}

#content .m-content-item {
  display: inline-block;

  width: 280px;
  margin: 0 34px;
}
#content .m-content-item:hover {
  background-color: white;
}
#content .m-content-item-title {
  position: relative;

  width: fit-content;
  margin: 20px auto;
}
#content .m-content-item-title-txt {
  font-size: 16px;
  font-weight: bold;
  color: rgb(237, 109, 0);
  line-height: 1.5;
  text-align: center;
}
#content .m-content-item-title-decoration-l {
  position: absolute;
  bottom: -5px;

  width: 42%;
  height: 1px;

  background-color: rgb(213, 105, 100);
}
#content .m-content-item-title-decoration-r {
  position: absolute;
  left: 58%;
  bottom: -5px;

  width: 42%;
  height: 1px;

  background-color: rgb(213, 105, 100);
}
#content .m-content-item-title-decoration-dot {
  position: absolute;
  bottom: -6px;
  left: calc(50% - 2px);

  width: 4px;
  height: 4px;

  border-radius: 50%;
  background-color: rgb(213, 105, 100);
}
#content .m-content-item-content {
  margin: 0 15px 28px;

  font-size: 13px;
  text-indent: 2em;
  color: rgb(51, 51, 51);
  line-height: 2;
  text-align: left;
}
