body {
  font-family: '微软雅黑';
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(51, 153, 204);
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.nav {
  width: 74%;
  height: 80px;
  padding: 32px;
  margin-inline: auto;
}

.nav > * {
  height: 100%;
}

.nav-logo {
  float: left;
}

.nav-list {
  float: left;
  width: calc(100% - 300px);
}

.nav-list ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-list li {
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 120px;
}

.nav-list a {
  display: block;
}

.nav-list > ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.nav-list > ul > li {
  display: inline;
}

.nav-list > ul > li:hover > a {
  background-color: rgb(240, 154, 8);
  color: rgb(51, 153, 204);
}

.nav-list > ul > li:hover > ul {
  display: block;
}

.nav-list ul ul {
  display: none;
  position: relative;
  background-color: rgb(240, 154, 8);
}

.nav-list ul ul a {
  color: white;
}

.nav-list ul ul a:hover {
  background-color: red;
}

.nav-list-search-box {
  float: right;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: 100%;
  width: 19px;
}

.nav-list-search-box div {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding-inline: 8px;
}

.nav-list-search-box #search2 {
  display: none;
}

.nav-list-search-box input {
  display: none;
  border: none;
  outline: none;
  width: 120px;
  padding: 5px;
}

.nav-list-search-box:hover div,
.nav-list-search-box div:focus-within {
  border: 3px solid rgb(51, 153, 204);
}

.nav-list-search-box:hover #search1,
.nav-list-search-box:focus-within #search1 {
  display: none;
}

.nav-list-search-box:hover #search2,
.nav-list-search-box:focus-within #search2,
.nav-list-search-box:hover input,
.nav-list-search-box:focus-within input {
  display: block;
}

.news {
  font-size: 0;
  width: 100%;
}

.news > img {
  width: 100%;
}

.content {
  width: 74%;
  margin: 0 auto;
}

.content-path {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.content-path > * {
  margin-inline: 6px;
}

.content-view {
  background-color: rgb(245, 245, 245);
  height: fit-content;
  margin-top: 20px;
}

.content-sidebar {
  float: left;
  width: 21%;
  height: fit-content;
}

.content-sidebar ul {
  float: left;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.content-sidebar ul li {
  width: 100%;
}

.content-sidebar ul li a {
  display: block;
  text-align: center;
  width: calc(100% - 25px);
  padding: 10px;
}

.content-sidebar ul li a:not(a.content-sidebar-categories) {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 5px solid gray;
}

.content-sidebar ul li a:hover:not(a.content-sidebar-categories) {
  border-left: 5px solid rgb(51, 153, 204);
}

.content-sidebar-categories {
  border: none;
  border-left: 5px solid rgb(51, 153, 204);
  background-color: rgb(51, 153, 204);
  color: white;
}

.content-main {
  float: left;
  background-color: white;
  width: calc(79% - 45px);
  height: fit-content;
  padding: 0 0 20px 45px;
}

.content-main-title {
  text-align: center;
  margin-top: 0;
}

.content-main-prompt {
  text-align: center;
  color: gray;
}

.content-main-images {
  text-align: center;
}

.content-main-images img#img1 {
  float: left;
}

.content-main-images img#img3 {
  float: right;
}

.content-main-content {
  line-height: 28px;
  text-indent: 2em;
}

.footer {
  background-color: rgb(225, 225, 225);
  color: gray;
  text-align: center;
  width: calc(100% - 40px);
  padding: 20px;
}

.footer p {
  margin: 10px;
}
