<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.classroomschool.mapper.CourseWithSCMapper">
    <select id="selectCourse" resultType="com.example.classroomschool.entity.course.CourseWithSC" parameterType="java.lang.Integer">
    select
    student, course as courseId, pigeonhole, top, display_num as displayNum,name, class_name as className, master, course_key as courseKey, deleting, year, term,address
    from sc,course,picture
    where student = #{StudentId,jdbcType=INTEGER} and sc.course = course.id and course.id = picture.picid order by displayNum
    </select>

</mapper>
