<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.classroomschool.mapper.InformMapper" >
  <resultMap id="BaseResultMap" type="com.example.classroomschool.entity.inform.Inform" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="course" property="course" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="top" property="top" jdbcType="VARCHAR" />
    <result column="user" property="user" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, course, name, intro, time, top, user
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from inform
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectInform" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from inform
    where course = #{course,jdbcType=INTEGER}
  </select>

  <update id="setTheTop" parameterType="map" >
    update
    inform
    set
    top = #{top,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER} and course = #{course,jdbcType=INTEGER}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from inform
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.example.classroomschool.entity.inform.Inform" >
    insert into inform (id, course, name,
      intro, time, top, user
      )
    values (#{id,jdbcType=INTEGER}, #{course,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
      #{intro,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{top,jdbcType=VARCHAR}, #{user,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.classroomschool.entity.inform.Inform" >
    insert into inform
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="course != null" >
        course,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="intro != null" >
        intro,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="top != null" >
        top,
      </if>
      <if test="user != null" >
        user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="course != null" >
        #{course,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="top != null" >
        #{top,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        #{user,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.example.classroomschool.entity.inform.Inform" >
    update inform
    <set >
      <if test="course != null" >
        course = #{course,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="top != null" >
        top = #{top,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        user = #{user,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.classroomschool.entity.inform.Inform" >
    update inform
    set course = #{course,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      top = #{top,jdbcType=VARCHAR},
      user = #{user,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
