<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.classroomschool.mapper.StudentSubmitHomeworkMapper" >
  <resultMap id="BaseResultMap" type="com.example.classroomschool.entity.homework.StudentSubmitHomework" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="student" property="student" jdbcType="VARCHAR" />
    <result column="homework" property="homework" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="file" property="file" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="review" property="review" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, student, homework, status, answer, time, file, score, review
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from sw
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectHomework" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List" />
    from sw
    where student = #{student,jdbcType=VARCHAR} and homework = #{homework,jdbcType=INTEGER}
  </select>

  <delete id="deleteByHomeworkId" parameterType="java.lang.Integer" >
  delete from sw
  where homework = #{homeworkId,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByMap" parameterType="map" >
  delete from sw
  where homework = #{homework,jdbcType=INTEGER} and student = #{student,jdbcType=VARCHAR}
  </delete>

  <update id="updateRead" parameterType="map" >
    update sw
    set
      review = #{review,jdbcType=VARCHAR}
    where student = #{student,jdbcType=VARCHAR} and homework = #{homeworkId,jdbcType=INTEGER}
  </update>
  <update id="updateScore" parameterType="map" >
    update sw
    set
      review = #{review,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER}
    where student = #{student,jdbcType=VARCHAR} and homework = #{homeworkId,jdbcType=INTEGER}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sw
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.example.classroomschool.entity.homework.StudentSubmitHomework" >
    insert into sw (id, student, homework,
      status, answer, time,
      file, score, review
      )
    values (#{id,jdbcType=INTEGER}, #{student,jdbcType=VARCHAR}, #{homework,jdbcType=INTEGER},
      #{status,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR},
      #{file,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, #{review,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.classroomschool.entity.homework.StudentSubmitHomework" >
    insert into sw
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="student != null" >
        student,
      </if>
      <if test="homework != null" >
        homework,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="file != null" >
        file,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="review != null" >
        review,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="student != null" >
        #{student,jdbcType=VARCHAR},
      </if>
      <if test="homework != null" >
        #{homework,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="file != null" >
        #{file,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="review != null" >
        #{review,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.example.classroomschool.entity.homework.StudentSubmitHomework" >
    update sw
    <set >
      <if test="student != null" >
        student = #{student,jdbcType=VARCHAR},
      </if>
      <if test="homework != null" >
        homework = #{homework,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="file != null" >
        file = #{file,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="review != null" >
        review = #{review,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.classroomschool.entity.homework.StudentSubmitHomework" >
    update sw
    set student = #{student,jdbcType=VARCHAR},
      homework = #{homework,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      file = #{file,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      review = #{review,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
