<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.classroomschool.mapper.StudentHomeWorkMapper">
    <select id="selectHomework" resultType="com.example.classroomschool.entity.homework.StudentHomework" parameterType="java.lang.Integer">
    select
    account, phone, mailbox, name,
    school, time, file,answer,homework,
    score, review
    from sw,student
    where
    homework = #{homeworkId,jdbcType=INTEGER}
    and student.account = sw.student
    union
    select
    account, phone, mailbox, name,
    school, time, file,answer,homework,
    score, review
    from sw,teacher
    where
            homework = #{homeworkId,jdbcType=INTEGER}
      and teacher.account = sw.student
    </select>

</mapper>
